@page "/trafic"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Trafic intern</h3>

@if (Trains == null)
{
    <p><em>Se încarcă...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th style="display:none">>Id</th>
                <th>Traseu</th>
                <th>Stația de plecare</th>
                <th>Stația de sosire</th>
                <th>Data plecării</th>
                <th>Ora plecării</th>
                <th>Data sosirii</th>
                <th>Ora sosirii</th>
                <th>Durata</th>
                <th>Status</th>
                <th>Bilet</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var train in Trains)
            {
                <tr>
                    <td style="display:none">>@train.Id</td>
                    <td>@train.Name</td>
                    <td>@train.DepartureStation</td>
                    <td>@train.ArrivalStation</td>
                    <td>@DateTime.Now.ToShortDateString()</td>
                    <td>@train.DepartureDate.ToShortTimeString()</td>
                    <td>@DateTime.Now.ToShortDateString()</td>
                    <td>@train.ArrivalDate.ToShortTimeString()</td>
                    <td>@train.Duration.ToString("hh:mm")</td>
                    <td>@train.Status</td>
                    <td>
                        <button @onclick="() => ButtonHandler(train.Id)">
                            Cumpără
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-ticket-detailed-fill" viewBox="0 0 16 16">
                                <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5Zm4 1a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5Zm0 5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5ZM4 8a1 1 0 0 0 1 1h6a1 1 0 1 0 0-2H5a1 1 0 0 0-1 1Z" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<TrainModel> Trains;

    protected override async Task OnInitializedAsync()
    {
        Trains = await Http.GetFromJsonAsync<List<TrainModel>>("api/trains/all/all");
    }

    private void ButtonHandler(Guid TrainId)
    {
        NavigationManager
             .NavigateTo($"/bilet/{TrainId}");
    }
}
