@page "/trafic"
@inject HttpClient Http

<h3>Trafic intern</h3>

@if (Trains == null)
{
    <p><em>Se încarcă...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Traseu</th>
                <th>Stația de plecare</th>
                <th>Stația de sosire</th>
                <th>Data plecării</th>
                <th>Ora plecării</th>
                <th>Data sosirii</th>
                <th>Ora sosirii</th>
                <th>Durata</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var train in Trains)
            {
                <tr>
                    <td>@train.Name</td>
                    <td>@train.DepartureStation</td>
                    <td>@train.ArrivalStation</td>
                    <td>@DateTime.Now.ToShortDateString()</td>
                    <td>@train.DepartureDate.ToShortTimeString()</td>
                    <td>@DateTime.Now.ToShortDateString()</td>
                    <td>@train.ArrivalDate.ToShortTimeString()</td>
                    <td>@train.Duration.ToString("hh:mm")</td>
                    <td>@train.Status</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<TrainModel> Trains;

    protected override async Task OnInitializedAsync()
    {
        Trains = await Http.GetFromJsonAsync<List<TrainModel>>("api/trains/all/all");
    }
}
